/* **** commons ****  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.mb-20 {
    margin-bottom: 20px;
}

/* **** header **** */

.header-top {
    height: 100px;
}

.header-bottom {
    height: 400px;
}





/* debug */

.debug .container {
    
}

.debug .header-top {
    background-color: #e579e6;
}

.debug .header-bottom {
    
    background-color: #e1d67a;
}


